:root {
    --body-color: black;
    --line-color: black;
    --body-bg: url("img/tilebg.png");
    --text-bg: #fffe;
    --date-color: #800;
    --padding: 2rem;
    --stroke-width: 4px;

    @media (prefers-color-scheme: dark) {
        --body-color: white;
        --line-color: #ccc;
        --body-bg: url("img/tilebg-dark.png");
        --text-bg: #222e;
        --date-color: #f88;
    }
}
@font-face {
    font-family: "D-Din";
    src: url("ddin.otf") format("opentype");
}

body {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Sizing */
    margin: 0;
    height: 100vh;
    box-sizing: border-box;

    /* Font */
    font-family: "D-Din", Arial, Helvetica, sans-serif;
    color: var(--body-color);

    background-image: var(--body-bg);
    overflow: hidden;
}

#shadow {
    /* Placement */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    box-shadow: inset 0 0 5vw #0008;
    pointer-events: none;
}

#socials {
    font-size: 4rem;
    z-index: -1000;
}

#socials a {
    text-decoration: none;
    margin-right: 0.5em;
}
#socials a:last-child {
    margin-right: 0;
}

h1 {
    margin: var(--padding) var(--padding) 0;
    font-weight: 900;
    font-size: clamp(2rem, 8vw, 5rem);
    text-transform: uppercase;
    text-align: center;
}

h2 {
    margin: 0 var(--padding);
    font-weight: normal;
    font-size: clamp(1rem, 7vw, 3rem);
    text-align: center;
}

#timeline {
    position: absolute;
    bottom: calc(var(--padding) - 1em); /* Scrollbar below footer */
    width: calc(100% - 2 * var(--padding));
    height: calc(80vh);

    box-sizing: border-box;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#timeline-inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

#dates {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    border-top: var(--stroke-width) solid var(--line-color);
    overflow: hidden;
}

.text {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 0;
    font-size: clamp(0.6rem, 1vh, 0.8rem);
}

.text.left {
    justify-content: left;
}
.text.left > div {
    text-align: left;
}

.text > div {
    text-align: center;
    white-space: nowrap;
}

.text p {
    display: inline;
    position: relative;
    margin: 0;
    line-height: 1.1em;
    background-color: var(--text-bg);
}

.text::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: var(--stroke-width);
    height: 100vh;
    background: var(--line-color);
}

.text.year > div {
    height: 0.8em;
    line-height: 0.8em;
    font-weight: bold;
    font-size: 2em;
    color: var(--body-color);
}

.text.year::before {
    background: red;
}

.text.date1 > div {
    color: var(--date-color);
    font-size: 1.8em;
}

.text.date2 > div {
    color: var(--date-color);
    font-size: 1.6em;
}
.text.date3 > div {
    color: var(--date-color);
    font-size: 1.4em;
    line-height: 0.95em;
}

#ages {
    position: absolute;
    top: 0;
    height: 40%;
}

.age {
    position: absolute;
    height: 100%;
    border-left: var(--stroke-width) solid var(--line-color);
    font-size: clamp(0.6rem, 1vh, 0.8rem);
}

.age p {
    position: absolute;
    top: 0;
    left: calc(-1 * var(--stroke-width));
    margin: 0;
    color: var(--date-color);
    background: var(--text-bg);
    font-weight: bold;
    font-size: 2em;
}

.age .image {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Placement */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;

    /* Background */
    background-size: cover;
    background-position: center;

    /* Font */
    font-size: 2em;
    text-align: center;
    text-shadow: 0 2px 2px black;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: var(--padding);
    font-size: 2em;
}

#footer span {
    margin-top: 0.25em;
}

#footer2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--padding);
    font-size: 2em;
}

#footer2 button {
    padding: 0.5em 1em;
    margin-top: 0.5em; /* This will only have an effect when the screen is small and the buttons are pushed vertically */
    margin-left: 0.5em;
    border: 0;
    font: inherit;
    background: #eee;
}

#footer2 button:hover {
    background: #ccc;
    cursor: pointer;
}

#footer2 button:hover:active {
    background: #aaa;
}

a {
    color: inherit;
}

/* Responsive stuff */
/* Eh just do this the easy way, designing mobile first is technically better but i really cannot be bothered */
/* FIXME: Mobile browsers only work well with "Desktop site" enabled */

/* Hide issue reporting text when space is tight, i cba making it look good so this is easier */
@media (max-width: 1100px) {
    #footer span {
        display: none;
    }
}

/* Hide footer items if there isn't enough height */
@media (max-height: 900px) {
    #footer > span {
        display: none;
    }
}
@media (max-height: 800px) {
    #socials {
        display: none;
    }
    #footer2 {
        display: none;
    }
}
