@font-face {
    font-family: "D-Din";
    src: url("ddin.otf") format("opentype");
}
body{
    font-family: "D-Din", Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1vw;
    height:100vh;
    width:100vw;
    box-sizing: border-box;
    margin:0;
    overflow: hidden;
    background-image:url("img/tilebg.png");
    box-shadow: inset 0 0 5vw #0008;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size:3em;
    margin:0;
}

h2{
    font-weight: normal;
    font-size:1.8em;
    margin:0;
    margin-bottom:1em;
}

#timeline{
    width:95vw;
    height:40vw;
    min-height:40vw;
    /* background:#eee; */
    box-sizing: border-box;
    position:relative;
}

#mainline{
    position:absolute;
    width:100%;
    height:0.2em;
    top:33%;
    background:black;
}

#dates{
    width:100%;
    height:60%;
    bottom:0;
    position:absolute;
    border-top: 0.2vw solid black;
    overflow:hidden;
}

.text{
    width:0;
    z-index: 100;
    position:absolute;
    font-size: 1em;
    display:flex;
    justify-content: center;
}

.text.left{
    justify-content: left;
}
.text.left>div{
    text-align: left;
}

.text>div{
    text-align: center;
    white-space:nowrap;
    line-height: 1.1em;
}

.text p{
    margin:0;
    display:inline;
    background-color:#fffe;
    /* text-shadow: 0 -0.1vw 0 #fff, 0 0.1vw 0 #fff, -0.1vw 0 #fff, 0.1vw 0 0 #fff; */
    z-index:200;
    position:relative;
}

.text::before{
    content:"";
    z-index:100;
    display:block;
    width:0.2vw;
    height:100vw;
    position:absolute;
    bottom:100%;
    left:50%;
    background:black;
}

.text.year>div{
    font-size:2em;
    line-height: 0.8em;
    height:0.8em;
    font-weight: bold;
    color:black;
}
.text.year::before{
    background:red;
}

.text.date1>div{
    color:#800;
    font-size:0.9em;
}

.text.date2>div{
    color:#800;
    font-size:0.8em;
}
.text.date3>div{
    color:#800;
    font-size:0.7em;
    line-height: 0.95em;
}


#ages{
    width:100%;
    height:40%;
    top:0;
    position:absolute;
}

.age{
    position:absolute;
    height:100%;
    border-left: 0.2vw solid black;
}

.age p{
    position:absolute;
    top:0;
    left:-0.2vw;
    margin:0;
    color:#800;
    background:white;
    font-weight: bold;
}

.age .image{
    width:100%;
    height:70%;
    bottom:0;
    position:absolute;
    background-size:cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
    text-align: center;
    color:white;
    background-color:grey;
    text-shadow: 0 0.1vw 0.1vw black;
}

#footer{
    position:absolute;
    bottom:0;
    left:0;
    margin:2.5vw;
    font-size:1.5em;
}

#footer>span{
    font-size:0.8em;
}