:root {
    --body-color: black;
    --line-color: black;
    --body-bg: url("img/tilebg.png");
    --text-bg: #fffe;
    --date-color: #800;

    @media (prefers-color-scheme: dark) {
        --body-color: white;
        --line-color: #ccc;
        --body-bg: url("img/tilebg-dark.png");
        --text-bg: #222e;
        --date-color: #f88;
    }
}
@font-face {
    font-family: "D-Din";
    src: url("ddin.otf") format("opentype");
}

body {
    color: var(--body-color);
    font-family: "D-Din", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    background-image: var(--body-bg);
}

#shadow {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset 0 0 5vw #0008;
    pointer-events: none;
}

#socials {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5vw;
    font-size: 3em;
}

#socials a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
    margin: 0;
    margin-bottom: 1em;
}

#timeline {
    width: 95vw;
    height: calc(100vh - 10vw);
    min-height: calc(100vh - 10vw);
    box-sizing: border-box;
    position: relative;
    overflow-x: scroll;
}

#timeline-inner {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#dates {
    width: 100%;
    height: 60%;
    bottom: 0;
    position: absolute;
    border-top: 0.2vw solid var(--line-color);
    overflow: hidden;
}

.text {
    width: 0;
    /* z-index: 100; */
    position: absolute;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.text.left {
    justify-content: left;
}

.text.left>div {
    text-align: left;
}

.text>div {
    text-align: center;
    white-space: nowrap;
    line-height: 1.1em;
}

.text p {
    margin: 0;
    display: inline;
    background-color: var(--text-bg);
    /* text-shadow: 0 -0.1vw 0 #fff, 0 0.1vw 0 #fff, -0.1vw 0 #fff, 0.1vw 0 0 #fff; */
    /* z-index:200; */
    position: relative;
}

.text::before {
    content: "";
    /* z-index:100; */
    display: block;
    width: 0.2vw;
    height: 100vw;
    position: absolute;
    bottom: 100%;
    left: 50%;
    background: var(--line-color);
}

.text.year>div {
    font-size: 2em;
    line-height: 0.8em;
    height: 0.8em;
    font-weight: bold;
    color: var(--body-color);
}

.text.year::before {
    background: red;
}

.text.date1>div {
    color: var(--date-color);
    font-size: 0.9em;
}

.text.date2>div {
    color: var(--date-color);
    font-size: 0.8em;
}

.text.date3>div {
    color: var(--date-color);
    font-size: 0.7em;
    line-height: 1.06em;
}


#ages {
    width: 100%;
    height: 40%;
    top: 0;
    position: absolute;
}

.age {
    position: absolute;
    height: 100%;
    border-left: 0.2vw solid var(--line-color);
}

.age p {
    position: absolute;
    top: 0;
    left: -0.2vw;
    margin: 0;
    color: var(--date-color);
    background: var(--text-bg);
    font-weight: bold;
}

.age .image {
    width: 100%;
    height: 70%;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 0 0.1vw 0.1vw black;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2.5vw;
    font-size: 1.5em;
}

#footer2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2.5vw;
    font-size: 1.5em;
}

#footer2 button {
    border: 0;
    padding: 0.5em 1em;
    font: inherit;
    margin-left: 0.5em;
    background: #eee;
}

#footer2 button:hover {
    background: #ccc;
    cursor: pointer;
}

#footer2 button:hover:active {
    background: #aaa;
}

#footer>span {
    font-size: 0.8em;
}

a {
    color: inherit;
}
